body {
    background-color: rgb(255, 255, 255);
    font-family: 'Alexandria', sans-serif;
    line-height: 1.5;
    margin: 35px 35px 0px 35px;
    padding: 0;
}

h1 {
    margin: 0;
}

h3 {
    margin-top: 0;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'header header'
        'article article'
        'aside content'
        'aside content'
        'footer footer';
}

#header {
    grid-area: header;
}

#introduction {
    grid-area: article;
    max-width: 100%;
    text-align: justify;
    text-wrap: balance;
}

#animationContainer {
    width: 100%;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

svg {
    transform: scale(0.7);
    width: 60%;
    margin: 20px;
    transform-origin: center;
}

#total {
    color: black;
}

#parameterContainer {
    grid-area: content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.dataField {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.dataTitle {
    margin: 0 0 15px 0;
    text-decoration: solid underline;
}

#checkBoxes {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 10px 0;
}

.checkbox {
    margin: 0 10px 0 0;
}

.dataInputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label {
    width: 20%;
    height: 5%;
    color: black;
}

.labelTwoliner {
    width: 30%;
    height: 5%;
    color: black;
}

.numberField {
    text-align: left;
    margin-right: 50px;
    width: 10%;
    height: 5%;
}

.co2Emission {
    width: 15%;
    height: 5%;
    margin: 0 0 0 auto;
    font-weight: bolder;
}

.information {
    border-bottom: none;
    cursor: pointer;
    text-decoration: none;
}

#resetData {
    width: 100%;
    margin: 0 auto 0 0;
}

.resetButton {
    border: none;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    font-weight: bolder;
    background: grey;
    color: #ffffff;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
}

.resetButton:hover,
.resetButton:focus {
    background: green;
    scale: 0.99;
}

.resetButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
    background: green;
    scale: 0.99;
}

#hiddenMessage {
    visibility: hidden;
    width: 100%;
    background-color: red;
    padding: 5px;
}


footer {
    grid-area: footer;
    margin: 0;
    position: sticky;
    width: 100%;    
}

footer p {
    margin: 0;
}







/*********  Media Queries für ein handelsübliches Smartphone  *******/

@media only screen and (max-width: 600px) {


    body {
        margin: 15px;
        padding: 0;
    }

    h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'header'
                             'article'
                             'aside'
                             'content'
                             'footer';
    }

    #introduction {
        text-align: left;
        text-wrap: balance;
    }


    #animationContainer {
        grid-area: aside;
        margin-top: 25px;
    }

    svg {
        width: 85%;
        margin: 0;
        padding: 0;
    }

    #total {
        transform: scale(1) !important;
        width: 80%;
        justify-content: center;
        text-wrap: balance;
    }

    #parameterContainer {
        grid-area: content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .dataField {
        margin-top: 10px;
    }

    #checkBoxes {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 0 10px 0;
    }

    .checkbox {
        margin: 0 10px 0 0;
    }

    .dataInputs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: inherit;

    }

    .label {
        width: 50%;
        height: 5%;
        margin: 0 0 10px 0;
    }

    .labelTwoliner {
        width: 40%;
        height: 5%;
        margin: 0 0 0 0;
    }

    .numberField {
        text-align: left;
        margin: 0 0 10px 0;
        width: 30%;
        height: 5%;
    }

    .co2Emission {
        width: 100%;
        height: 5%;
        margin-top: 10px;
    }


    #resetData {
        width: 100%;
        margin-top: 10px;
    }

    .hidden {
        visibility: collapse;
        display: none;
    }

    #hiddenMessage {
        visibility: collapse;
        display: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* für Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

}